############################
# @author EliasDH Team     #
# @see https://eliasdh.com #
# @since 01/01/2025        #
############################
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-modded-deployment
  namespace: minecraft-modded
  labels:
    app: minecraft-modded
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-modded
  template:
    metadata:
      labels:
        app: minecraft-modded
    spec:
      containers:
        - name: minecraft-modded-container
          image: ghcr.io/eliasdh-com/minecraft-server-modded:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 25565
              name: minecraft
          resources:
            requests:
              memory: "6Gi"
              cpu: "1"
            limits:
              memory: "8Gi"
              cpu: "2"
          volumeMounts:
            - name: minecraft-modded-data
              mountPath: /data
      volumes:
        - name: minecraft-modded-data
          persistentVolumeClaim:
            claimName: minecraft-modded-pvc
---