############################
# @author EliasDH Team     #
# @see https://eliasdh.com #
# @since 01/01/2025        #
############################
name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  android-emulator-build-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u eliasdehondt --password-stdin
      - name: Build/Push Docker Image
        run: |
          docker build --push -t ghcr.io/eliasdhcom/android-emulator:latest -f ./Docker/android-emulator.dockerfile .
  minecraft-server-vanilla-build-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u eliasdehondt --password-stdin
      - name: Build/Push Docker Image
        run: |
          docker build --push -t ghcr.io/eliasdhcom/minecraft-server-vanilla:latest -f ./Docker/minecraft-server-vanilla.dockerfile .
  minecraft-server-modded-build-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u eliasdehondt --password-stdin
      - name: Build/Push Docker Image
        run: |
          docker build --push -t ghcr.io/eliasdhcom/minecraft-server-modded:latest -f ./Docker/minecraft-server-modded.dockerfile .
  netbox-build-push-docker:
            runs-on: ubuntu-latest
            steps:
              - name: Checkout code
                uses: actions/checkout@v3
              - name: Login to GHCR
                run: |
                  echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u eliasdehondt --password-stdin
              - name: Build/Push Docker Image
                run: |
                  docker build --push -t ghcr.io/eliasdhcom/netbox:latest -f ./Docker/netbox.dockerfile .